{
    "source": {
        "directories": [
            "src"
        ]
    },
    "logs": {
        "text": "infection.log",
        "badge": {
            "branch": "1.x.x"
        }
    },
    "mutators": {
        "@default": true
    }
}
